<h1>BrainWars</h1>
<p>
  	This is the future site of BrainWars!
</p>
<p> [*] Done with Signin </p>
<p> [*] User Signup Complete </p>
<p> [*] User model with passwords, and user show page  </p>
<p> [*] Finished layout and routes, added adduser page  </p>
	

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>