<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h2 class="micropost">What's up?</h2>
        <%= render 'pages/micropost_form' %>
		<%= render 'pages/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Brain Wars</h1>

  <p>
    BrainWars Learning System.
  </p>

  <%= link_to "Register", signup_path, :class => "signup_button round" %>
<% end %>