<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="http://ishidden.net/">isHidden.net</a></li>
    <li><a href="http://www.nodereality.com/">NodeReality</a></li>
  </ul>
</div>